<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>messages</key>
	<array>
        <string>Wart mal, ich rechne noch kurz nach.</string>
        <string>Heute ist das Internet langsamer als der Kellner.</string>
        <string>Wow, das hast du mit physischem Zahlungsmitteln bezahlt – und jetzt nimmst du den digitalen Assistenten?</string>
        <string>Warst am Bankomaten fürs Bargeld ;-)?</string>
        <string>Die Bits fliegen durch den Ether und bald kommt die Antwort zurück.</string>
        <string>Bitte dreh mal kurz Däumchen, ich brauch noch ein paar Sekunden.</string>
        <string>Hast du das Trinkgeld eh bar bezahlt?</string>
        <string>Der blaue Balken läuft von links nach rechts, also ein Laufbalken...</string>
        <string>Wenn alles gutgeht, melde ich mich gleich wieder.</string>
        <string>Wieviel ist das heute in Bitcoin? Jetzt darfst du kurz umrechnen.</string>
        <string>Das ist jetzt mehr, als du üblicherweise zum Essen ausgibst.</string>
        <string>War das sicher die Vorderseite der Rechnung? — just kidding ;-)</string>
        <string>Ene, Mene, Muh – und drauss bist du.</string>
        <string>Bisher ist ja noch alles gutgegangen.</string>
        <string>Glück gehabt, ich habe eine Verbindung zum Orbiter aufbauen können.</string>
        <string>Jetzt fehlt nur noch die Bestätigung der NSA / von Cambridge / vom BND, dass die Daten angekommen sind ;-) Just Kidding!</string>
        <string>Das war aber eine lange Rechnung.</string>
	</array>
</dict>
</plist>
